/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# 追加
# Docker 関連
docker-compose.yml
*.cnf
aria_log*

# DBやコンテナの一時ファイル
*.pid
*.sock
*.log
tmp/
vendor/
node_modules/
.env

# OSファイル
.DS_Store
Thumbs.db
